body {
  margin: 0;
  overflow-x: hidden;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a {
  color: #5770d8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  font-weight: 400;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

button {
  cursor: pointer;
}

input::placeholder,
textarea::placeholder {
  color: #cccccc;
}

input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}

input[type='checkbox']:disabled {
  cursor: not-allowed;
}

.show {
  display: 'block';
}

#modal div {
  animation: drop 0.3s linear;
}

@keyframes drop {
  0% {
    top: -40%;
  }
  25% {
    top: -25%;
  }
  50% {
    top: -5%;
  }
  75% {
    top: 10%;
  }
  100% {
    top: 25%;
  }
}

#modal svg {
  animation: wiggle 3s linear;
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-25deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(10deg);
  }
  35% {
    transform: rotateZ(-6deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
