body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  line-height: 1.5;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgb(109 87 212 / 46%) 0%,
    rgb(77 175 176 / 68%) 62.17%
  );
}

* {
  box-sizing: border-box;
}

a {
  color: #6348d7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  font-weight: 400;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

button {
  cursor: pointer;
}

input::placeholder,
textarea::placeholder {
  color: #676767;
}

input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}

input[type='checkbox']:disabled {
  cursor: not-allowed;
}

p {
  margin: 0;
}

.show {
  display: 'block';
}
